<header class="flex justify-between items-center py-5 w-[1120px] mx-auto ">
    <img src="../../public/image.png" width="80px" alt="luisdev" class="rounded-full">
    <nav class="flex flex-row gap-x-10  text-white">
        <a href="" class="outline outline-1 p-2 rounded-lg hover:bg-slate-700 opacity-80 hover:opacity-100 hover:scale-110 ">Home</a>
        <a href="" class="outline outline-1 p-2 rounded-lg hover:bg-slate-700 opacity-80 hover:opacity-100 hover:scale-110">About</a>
        <a href="" class="outline outline-1 p-2 rounded-lg hover:bg-slate-700 opacity-80 hover:opacity-100 hover:scale-110">Project</a>
        <a href="" class="outline outline-1 p-2 rounded-lg hover:bg-slate-700 opacity-80 hover:opacity-100 hover:scale-110">Contact</a>
    </nav>
</header>